In [2]:
# Details about the project

In [5]:
# Importing the libraries needed for the project

# Pandas and numpy for writing to files, and for performing various statitical analysis on the data
import pandas as pd
import numpy as np

# The libraries below are used for visiualizing the data
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# The sklearn library  below is used for automatic splitting of the data, transforming the data for effecient model perfomance
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, roc_auc_score

# Sklearn is contains standard machine learning algorithms for complex data which are imported below
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC

In [7]:
# Reading the train and test data

train = pd.read_csv(r'C:\Users\Hp\Documents\GitHub\Blood-Donation-Analysis\blood-train.csv')
test = pd.read_csv(r'C:\Users\Hp\Documents\GitHub\Blood-Donation-Analysis\blood-test.csv')

In [8]:
print('training data shape: ', train.shape) 
print('test data shape: ', test.shape)

training data shape:  (576, 6)
test data shape:  (200, 5)

In [9]:
# The first five rows of the train data shape

train.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [10]:
# Number of people who donated in march 2007
train['Made Donation in March 2007'].value_counts()

0    438
1    138
Name: Made Donation in March 2007, dtype: int64

In [14]:
# Storing dependent variable in Y

Y = train.iloc[:,-1]
Y.head()

0    1
1    1
2    1
3    1
4    0
Name: Made Donation in March 2007, dtype: int64

In [15]:
#last five rows of the training data 

train.tail()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
571,698,23,1,250,23,0
572,433,16,3,750,86,0
573,360,21,2,500,52,0
574,541,39,1,250,39,0
575,74,72,1,250,72,0

In [16]:
# We remove some of the columns for to develop a well suited model

old_train = train
train = train.iloc[:,1:5]
test = test.iloc[:,1:5]

In [19]:
# Merging both train and test data

df = pd.merge(train, test)
print('merged data shape: ', df.shape)

merged data shape:  (810, 4)

In [18]:
df.head()

,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation
0,2,2,500,4
1,2,2,500,4
2,2,2,500,4
3,2,2,500,4
4,2,2,500,4

In [21]:
# Setting the independent and dependent variable

X = df.iloc[:,:]
X.head()

,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation
0,2,2,500,4
1,2,2,500,4
2,2,2,500,4
3,2,2,500,4
4,2,2,500,4